    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        background-color: #0A0A1F;
        color: white;
        font-family: "Concert One", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .nav {
        display: flex;
        justify-content: space-between;
    }

    .nav h1 {
        text-decoration-line: underline;
        margin-top: 10px;
        font-style: italic;
        text-decoration-color: goldenrod;
    }

    .logo-content {
        display: flex;
    }

    .nav img {
        height: 50px;
        width: 50px;
    }

    .navlinks {
        display: flex;
        gap: 100px;
        list-style-type: none;
        margin-top: 10px;

    }

    .navlinks a {
        text-decoration-line: none;
        color: white;
        font-size: 30px;

    }

    .navlinks a:hover {
        background-color: gold;
        color: black;
        border-radius: 10px;
        padding: 10px;
        transition-duration: 0.3s;
    }

    input {
        background-color: #0A0A1F;
        color: white;
        border-radius: 50px;
        text-align: center;
        border: 2px solid white;
        margin-top: 10px;
    }

    input:hover {
        background-color: white;
        color: black;
        padding: 10px 10px;
        transition: 0.5s;
    }

    .heading {
        background-image: url("./images/Rolex.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 600px;
        background-position: center;
    }

    .heading-content {
        padding: 150px 90px;
        width: 700px;
        line-height: 1.5;
        font-size: x-large;
    }

    .heading-content button {
        height: 60px;
        width: 150px;
        border-radius: 10px;
        font-weight: 800;
        margin-top: 20px;
        font-size: large;
        cursor: pointer;
    }

    .heading-content button:hover {
        background-color: gold;
        color: rgb(0, 0, 0);
        padding: 20px 10px;
        margin-left: 20px;
        transition-duration: 0.5s;
    }

    .dot-1 {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: white;
        position: absolute;
        left: 880px;
        top: 200px;
        border: 2px solid blue;
    }

    .dot-2 {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: white;
        position: absolute;
        left: 920px;
        top: 300px;
        border: 2px solid blue;
    }

    .dot-3 {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: white;
        position: absolute;
        left: 880px;
        top: 400px;
        border: 2px solid blue;
    }

    .dot-4 {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: white;
        position: absolute;
        left: 630px;
        top: 400px;
        border: 2px solid blue;
    }

    .line-1 {
        height: 2px;
        width: 150px;
        background-color: goldenrod;
        position: absolute;
        top: 180px;
        left: 900px;
        transform: rotate(-20deg);
    }

    .line-2 {
        height: 2px;
        width: 150px;
        background-color: goldenrod;
        position: absolute;
        top: 310px;
        left: 945px;

    }

    .line-3 {
        height: 2px;
        width: 150px;
        background-color: goldenrod;
        position: absolute;
        top: 440px;
        left: 900px;
        transform: rotate(20deg);
    }

    .line-4 {
        height: 2px;
        width: 150px;
        background-color: goldenrod;
        position: absolute;
        top: 440px;
        left: 480px;
        transform: rotate(-20deg);
    }

    .feature-1 p {
        width: 400px;
        position: absolute;
        left: 1050px;
        top: 120px;
    }

    .feature-2 p {
        width: 400px;
        position: absolute;
        left: 1100px;
        top: 300px;
    }

    .feature-3 p {
        width: 400px;
        position: absolute;
        left: 1050px;
        top: 450px;
    }

    .feature-4 p {
        width: 300px;
        position: absolute;
        left: 250px;
        top: 470px;
    }

    .achievements {
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
    }

    .collection {
        text-align: center;
        margin-top: 100px;
        font-size: 80px;
        text-decoration-line: underline;
        text-decoration-color: gold;
    }

    .new-collections {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }

    .card-collection {
        background-color: rgba(0, 0, 0, 0.5);
        margin: 40px auto;
        height: 600px;
        width: 350px;
        border-radius: 20px;
        box-shadow: 2px 2px 10px grey;
        cursor: pointer;
    }

    .card-img1 {
        height: 300px;
        width: 300px;
        background-image: url("./images/watch1.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 20px auto;
        border-radius: 10px;
        border: 2px solid grey;
    }

    .card-img2 {
        height: 300px;
        width: 300px;
        background-image: url("./images/watch2.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 20px auto;
        border-radius: 10px;
        border: 2px solid grey;
    }

    .card-img3 {
        height: 300px;
        width: 300px;
        background-image: url("./images/watch3.jpeg");
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        margin: 20px auto;
        border-radius: 10px;
        border: 2px solid grey;
    }

    .card-img4 {
        height: 300px;
        width: 300px;
        background-image: url("./images/watch4.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 20px auto;
        border-radius: 10px;
        border: 2px solid grey;
    }

    .card-img5 {
        height: 300px;
        width: 300px;
        background-image: url("./images/watch5.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 20px auto;
        border-radius: 10px;
        border: 2px solid grey;
    }

    .card-img6 {
        height: 300px;
        width: 300px;
        background-image: url("./images/watch6.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        margin: 20px auto;
        border-radius: 10px;
        border: 2px solid grey;
    }

    .card-collection p,
    .card-collection h1 {
        margin-left: 20px;
        line-height: 1.6;

    }

    .card-collection p {
        color: gold;
    }

    .card-collection li {
        margin-left: 50px;
        line-height: 1.6;
    }

    .card-collection li::marker {
        color: gold;
    }

    .price-and-details {
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
        font-size: 30px;
    }

    .price-and-details button {
        width: 100px;
        font-weight: 600;
        border-radius: 10px;
        cursor: pointer;
    }

    .collection-end {
        height: 50px;
        width: 200px;
        border-radius: 10px;
        display: block;
        margin: 0 auto;
        font-size: x-large;
        font-weight: 600;
        cursor: pointer;
    }
