    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        background: #e66565;
        color: white;
        font-family: "Concert One", sans-serif;
        font-weight: 400;
        font-style: normal;
background-image: repeating-linear-gradient(45deg, hsla(207,0%,63%,0.05) 0px, hsla(207,0%,63%,0.05) 1px,transparent 1px, transparent 11px,hsla(207,0%,63%,0.05) 11px, hsla(207,0%,63%,0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(0deg, hsla(207,0%,63%,0.05) 0px, hsla(207,0%,63%,0.05) 1px,transparent 1px, transparent 11px,hsla(207,0%,63%,0.05) 11px, hsla(207,0%,63%,0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(135deg, hsla(207,0%,63%,0.05) 0px, hsla(207,0%,63%,0.05) 1px,transparent 1px, transparent 11px,hsla(207,0%,63%,0.05) 11px, hsla(207,0%,63%,0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(90deg, hsla(207,0%,63%,0.05) 0px, hsla(207,0%,63%,0.05) 1px,transparent 1px, transparent 11px,hsla(207,0%,63%,0.05) 11px, hsla(207,0%,63%,0.05) 12px,transparent 12px, transparent 32px),linear-gradient(90deg, rgb(17, 17, 17),rgb(66, 66, 66));
    }

    .nav {
        display: flex;
        justify-content: space-between;
    }

    .nav h1 {
        text-decoration-line: underline;
        margin-top: 10px;
        font-style: italic;
        text-decoration-color: goldenrod;
    }

    .logo-content {
        display: flex;
        cursor: pointer;
    }

    .nav img {
        height: 50px;
        width: 50px;
    }

    .navlinks {
        display: flex;
        gap: 100px;
        list-style-type: none;
        margin-top: 10px;

    }

    .navlinks a {
        text-decoration-line: none;
        color: white;
        font-size: 30px;

    }

    .navlinks a:hover {
        background-color: gold;
        color: black;
        border-radius: 10px;
        padding: 10px;
        transition-duration: 0.3s;
    }

    input {
        background-color: #0A0A1F;
        color: white;
        border-radius: 50px;
        text-align: center;
        border: 2px solid white;
        margin-top: 10px;
    }

    input:hover {
        background-color: white;
        color: black;
        padding: 10px 10px;
        transition: 0.5s;
    }

    .heading {
        background-image: url("./images/Rolex.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 600px;
        background-position: center;
    }

    .heading-content {
        padding: 150px 90px;
        width: 700px;
        line-height: 1.5;
        font-size: x-large;
    }

    .heading-content button {
        height: 60px;
        width: 150px;
        border-radius: 10px;
        font-weight: 800;
        margin-top: 20px;
        font-size: large;
        cursor: pointer;
    }

    .heading-content button:hover {
        background-color: gold;
        color: rgb(0, 0, 0);
        padding: 20px 10px;
        margin-left: 20px;
        transition-duration: 0.5s;
    }

    .dot-1 {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: white;
        position: absolute;
        left: 880px;
        top: 200px;
        border: 2px solid blue;
    }

    .dot-2 {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: white;
        position: absolute;
        left: 920px;
        top: 300px;
        border: 2px solid blue;
    }

    .dot-3 {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: white;
        position: absolute;
        left: 880px;
        top: 400px;
        border: 2px solid blue;
    }

    .dot-4 {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: white;
        position: absolute;
        left: 630px;
        top: 400px;
        border: 2px solid blue;
    }

    .line-1 {
        height: 2px;
        width: 150px;
        background-color: goldenrod;
        position: absolute;
        top: 180px;
        left: 900px;
        transform: rotate(-20deg);
    }

    .line-2 {
        height: 2px;
        width: 150px;
        background-color: goldenrod;
        position: absolute;
        top: 310px;
        left: 945px;

    }

    .line-3 {
        height: 2px;
        width: 150px;
        background-color: goldenrod;
        position: absolute;
        top: 440px;
        left: 900px;
        transform: rotate(20deg);
    }

    .line-4 {
        height: 2px;
        width: 150px;
        background-color: goldenrod;
        position: absolute;
        top: 440px;
        left: 480px;
        transform: rotate(-20deg);
    }

    .feature-1 p:hover {
        background-color: white;
        color: black;
        padding: 20px 10px;
        transition: 0.3s;
    }

    .feature-2 p:hover {
        background-color: white;
        color: black;
        padding: 20px 10px;
        transition: 0.3s;
    }

    .feature-3 p:hover {
        background-color: white;
        color: black;
        padding: 20px 10px;
        transition: 0.3s;
    }

    .feature-4 p:hover {
        background-color: white;
        color: black;
        padding: 20px 10px;
        transition: 0.3s;
    }

    .feature-1 p {
        width: 400px;
        position: absolute;
        left: 1050px;
        top: 120px;
        cursor: pointer;
    }

    .feature-2 p {
        width: 400px;
        position: absolute;
        left: 1100px;
        top: 300px;
        cursor: pointer;
    }

    .feature-3 p {
        width: 400px;
        position: absolute;
        left: 1050px;
        top: 450px;
        cursor: pointer;
    }

    .feature-4 p {
        width: 300px;
        position: absolute;
        left: 250px;
        top: 470px;
        cursor: pointer;
    }

    .achievements {
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
    }

    .collection {
        text-align: center;
        margin-top: 100px;
        font-size: 80px;
        text-decoration-line: underline;
        text-decoration-color: gold;
    }

    .new-collections {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }

    .card-collection {
        background-color: rgba(0, 0, 0, 0.5);
        margin: 40px auto;
        height: 600px;
        width: 350px;
        border-radius: 20px;
        box-shadow: 2px 2px 10px grey;
        cursor: pointer;
    }

    .card-collection:hover {
        background-color: rgba(96, 4, 51, 0.486);
        padding: 10px 10px;
        transition: 0.2s;
    }

    .card-img1 {
        height: 300px;
        width: 300px;
        background-image: url("./images/watch1.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 20px auto;
        border-radius: 10px;
        border: 2px solid grey;
    }

    .card-img2 {
        height: 300px;
        width: 300px;
        background-image: url("./images/watch2.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 20px auto;
        border-radius: 10px;
        border: 2px solid grey;
    }

    .card-img3 {
        height: 300px;
        width: 300px;
        background-image: url("./images/watch3.jpeg");
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        margin: 20px auto;
        border-radius: 10px;
        border: 2px solid grey;
    }

    .card-img4 {
        height: 300px;
        width: 300px;
        background-image: url("./images/watch4.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 20px auto;
        border-radius: 10px;
        border: 2px solid grey;
    }

    .card-img5 {
        height: 300px;
        width: 300px;
        background-image: url("./images/watch5.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 20px auto;
        border-radius: 10px;
        border: 2px solid grey;
    }

    .card-img6 {
        height: 300px;
        width: 300px;
        background-image: url("./images/watch6.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        margin: 20px auto;
        border-radius: 10px;
        border: 2px solid grey;
    }

    .card-collection p,
    .card-collection h1 {
        margin-left: 20px;
        line-height: 1.6;

    }

    .card-collection p {
        color: gold;
    }

    .card-collection li {
        margin-left: 50px;
        line-height: 1.6;
    }

    .card-collection li::marker {
        color: gold;
    }

    .price-and-details {
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
        font-size: 30px;
    }

    .price-and-details button {
        width: 100px;
        font-weight: 600;
        border-radius: 10px;
        cursor: pointer;
    }

    .collection-end {
        height: 50px;
        width: 200px;
        border-radius: 10px;
        display: block;
        margin: 0 auto;
        font-size: x-large;
        font-weight: 600;
        cursor: pointer;
    }

    .collection-end:hover {
        background-color: gold;
        color: rgb(0, 0, 0);
        padding: 20px 10px;
        transition-duration: 0.5s;
    }

    .New-arrivals button {
        height: 50px;
        width: 280px;
        font-weight: 600;
        font-size: 20px;
        margin-top: 40px;
        border-radius: 10px;
        cursor: pointer;
    }

    .New-arrivals {
        display: flex;
        margin: 50px 50px;

    }

    .New-arrivals button:hover {
        background-color: gold;
        padding: 10px 0px 0px 20px;
        transition: 0.3s;
    }

    .New-arrivals-content {
        height: 500px;
        width: 900px;
    }

    .New-arrivals h1 {
        font-size: 80px;
        text-decoration-line: underline;
        text-decoration-color: gold;
    }

    .New-arrivals h2 {
        font-size: 40px;
        line-height: 1.5;
    }

    .New-arrivals p {
        font-size: 30px;
        margin-top: 20px;
    }

    .New-arrivals-img {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    .New-arrivals-img-1 {
        background-image: url("./images/new\ arrivals\ 1.jpeg");
        background-size: cover;
        height: 600px;
        width: 400px;
        background-position: center;
        border-radius: 50px;
        box-shadow: 2px 3px 10px grey;
        margin-left: 20px;
        margin-top: 100px;
    }

    .New-arrivals-img-2 {
        background-image: url("./images/new\ arrivals\ 2.jpeg");
        background-size: cover;
        height: 600px;
        width: 400px;
        background-position: center;
        border-radius: 50px;
        box-shadow: 2px 3px 10px grey;
        margin-left: 30px;
    }

    .New-arrivals-img-3 {
        background-image: url("./images/new\ arrivals\ 3.jpeg");
        background-size: cover;
        height: 400px;
        width: 600px;
        background-position: center;
        border-radius: 50px;
        box-shadow: 2px 3px 10px grey;
        margin-left: 300px;
    }

    .about-us {
        margin-left: 40px;
    }

    .about-us-container {
        display: flex;
        gap: 50px;
        margin: 10px 50px;
    }

    .aboutus-content-img {
        height: 500px;
        width: 600px;
    }

    .about-us-rolex-img {
        background-image: url("./images/about\ us.jpeg");
        background-size: cover;
        height: 450px;
        width: 400px;
        border-radius: 5px;
        box-shadow: 2px 3px 5px grey;
        margin-top: 30px;
        margin-left: 60px;
    }

    .about-us {
        font-size: 80px;
        text-decoration-line: underline;
        text-decoration-color: gold;
    }

    .aboutus-content-img p {
        font-size: 30px;
    }

    .showroom-img {
        background-image: url("./images/showroom.jpeg");
        background-size: cover;
        height: 800px;
        width: 600px;
        border-radius: 50px;
        margin-left: 80px;
        box-shadow: 2px 3px 5px grey;
    }

    footer {
        display: flex;
     background-image: radial-gradient(circle at center center, rgb(71, 71, 71),rgb(8, 8, 8));
        color: black;
        height: 200px;
        border-radius: 10px 10px 0px 0px;
        gap: 200px;
    }

    .logo-and-contacts h1 {
        color: white;
        margin: 20px 20px;
        font-style: italic;
    }

    .social-media-icons img {
        height: 50px;
        width: 50px;
        margin-top: 10px;
        background-color: white;
        border-radius: 50%;
    }
    .Menu{
        font-size: 25px;
        color: white;
    }
    .Menu li{
        color: white;
        list-style: none;
        font-size: 20px;
        line-height: 1.5;
    }
    .contactus{
        font-size: 20px;
        color: white;
        margin-top: 60px;
    }
    .signup{
        display: flex;
        flex-flow: wrap column;
        color: white;
        margin-top: 20px;
        font-size: 20px;
        text-align: center;
    }
    .signup input{
        height: 50px;
        width: 300px;
    }
    .signup button{
        height: 40px;
        width: 200px;
        background-color: white;
        color: black;
        font-weight: 600;
        margin: 10px 50px;
        border-radius: 50px;
    }