    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        background-color: #0A0A1F;
        color: white;
        font-family: "Concert One", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .nav {
        display: flex;
        justify-content: space-between;
    }

    .nav h1 {
        text-decoration-line: underline;
        margin-top:10px ;
        font-style: italic;
    }

    .logo-content {
        display: flex;
    }

    .nav img {
        height: 50px;
        width: 50px;
    }

    .navlinks {
        display: flex;
        gap: 100px;
        list-style-type: none;
        margin-top: 10px;

    }

    .navlinks a {
        text-decoration-line: none;
        color: white;
        font-size: 30px;

    }

    .navlinks a:hover {
        background-color: gold;
        color: black;
        border-radius: 10px;
        padding: 10px;
        transition-duration: 0.3s;
    }

    input {
        background-color: #0A0A1F;
        color: white;
        border-radius: 50px;
        text-align: center;
        border: 2px solid white;
        margin-top:10px ;
    }
    input:hover{
        background-color: white;
        color: black;
    }
    .heading {
        background-image: url("./images/Rolex.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 600px;
        background-position: center;
    }

    .heading-content {
        padding: 150px 90px;
        width: 700px;
        line-height: 1.5;
        font-size: x-large;
    }

    .heading-content button {
        height: 60px;
        width: 150px;
        border-radius: 10px;
        font-weight: 800;
        margin-top: 20px;
        font-size: large;
        cursor: pointer;
    }

    .heading-content button:hover {
        background-color: gold;
        color: rgb(0, 0, 0);
        padding: 10px;
        transition-duration: 0.3s;
    }

    .dot-1 {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: white;
        position: absolute;
        left: 880px;
        top: 200px;
        border: 2px solid blue;
    }

    .dot-2 {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: white;
        position: absolute;
        left: 920px;
        top: 300px;
        border: 2px solid blue;
    }

    .dot-3 {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: white;
        position: absolute;
        left: 880px;
        top: 400px;
        border: 2px solid blue;
    }

    .dot-4 {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: white;
        position: absolute;
        left: 630px;
        top: 400px;
        border: 2px solid blue;
    }

    .line-1 {
        height: 2px;
        width: 150px;
        background-color: goldenrod;
        position: absolute;
        top: 180px;
        left: 900px;
        transform: rotate(-20deg);
    }

    .line-2 {
        height: 2px;
        width: 150px;
        background-color: goldenrod;
        position: absolute;
        top: 310px;
        left: 945px;

    }

    .line-3 {
        height: 2px;
        width: 150px;
        background-color: goldenrod;
        position: absolute;
        top: 440px;
        left: 900px;
        transform: rotate(20deg);
    }

    .line-4 {
        height: 2px;
        width: 150px;
        background-color: goldenrod;
        position: absolute;
        top: 440px;
        left: 480px;
        transform: rotate(-20deg);
    }
    .feature-1 p{
        width: 400px;
        position: absolute;
        left: 1050px;
        top: 120px;
    }
    .feature-2 p{
        width: 400px;
        position: absolute;
        left: 1100px;
        top: 300px;
    }
    .feature-3 p{
        width: 400px;
        position: absolute;
        left: 1050px;
        top: 450px;
    }
    .feature-4 p{
        width: 300px;
        position: absolute;
        left: 250px;
        top: 470px;
    }